pre-commit
commitizen
cookiecutter-data-science
niquests
beautifulsoup4
lxml
pandas
polars
altair
vegafusion[embed]
vl-convert-python
plotly
polars-splitters
spacy
scikit-learn
skrub
matplotlib
numpy
transformers
datasets
setfit
accelerate
sentence-transformers
awscli == 1.36.40
loguru
pip
python-dotenv
ruff
rich
tqdm
typer
-e .
