pre-commit
commitizen
cookiecutter-data-science
niquests
beautifulsoup4
lxml
polars
altair
vegafusion[embed]
vl-convert-python
plotly
scikit-learn
skrub
awscli == 1.36.40
loguru
pip
python-dotenv
ruff
rich
tqdm
typer
-e .
